 <!--footer01 starts-->
  <!-- //Travels -->
  <div class="container">
    <div class="travels">
  
      <p>
        <a href="#" Navigate="FTravels/sai">Sai Travels</a>
        <a href="#" routerLink="travels">Evacuy Bus</a>
        <a href="#" routerLink="kalida">Kalida Travels</a>
        <a href="#" routerLink="hyndavi">Hyndavi Travels</a>
        <a href="#" routerLink="orange">Orange Travels</a>
        <a href="#" routerLink="parveen">Parveen Travels</a>
        <a href="#" routerLink="rajdhani">Rajdhani Travels</a>
        <a href="#" routerLink="vrl">VRL Travels</a>
        <a href="#" routerLink="pradhan">Pradhan Travels</a>
        <a href="#" routerLink="svkdt">Svkdt Travels</a>
        <a href="#" routerLink="saikrishna">Saikrishna Travels</a>
        <a href="#" routerLink="venkataramana">Venkata Ramana Travels</a>
        
         
        
        <a href="#" routerLink="pradeep">Pradeep Travels</a>
        
        <a href="#" routerLink="srs">SRS Travels</a>
        <a href="#" routerLink="bus">Bus</a>
        <a href="#" routerLink="ramkrishna">Ramkrishna Travels</a>
        <a href="#" routerLink="nagavalli">Nagavalli Travels</a>
        <a href="#" routerLink="venkataramana">Venkata Ramana Travels</a>
        
         
        
        <a href="#" routerLink="pradeep">Pradeep Travels</a>
        <a href="#" routerLink="yamini">Yamini Travels</a>
        <a href="#" routerLink="sridurga">Sridurga Travels</a>
        <a href="#" routerLink="svkdt">Svkdt Travels</a>
        <a href="#" routerLink="venkataramana">Venkata Ramana Travels</a>
        <a href="#" routerLink="pradeep">Pradeep Travels</a>
        <a href="#" routerLink="saikrishna">Saikrishna Travels</a>
        
        <a href="#" routerLink="orange">Orange Travels</a>
        
        <a href="#" routerLink="kalida">Kalida Travels</a>
        <a href="#" routerLink="kpn">Kpn Travels</a>
        <a href="#" routerLink="hyndavi">Hyndavi Travels</a>
        <a href="#" routerLink="parveen">Parveen Travels</a>
        
         
        
        <a href="#" routerLink="rajdhani">Rajdhani Travels</a>
        <a href="#" routerLink="vrl">VRL Travels</a>
        <a href="#" routerLink="pradhan">Pradhan Travels</a>
        <a href="#" routerLink="svkdt">Svkdt Travels</a>
        <a href="#" routerLink="saikrishna">Saikrishna Travels</a>
        <a href="#" routerLink="venkataramana">Venkata Ramana Travels</a>
        <a href="#" routerLink="pradeep">Pradeep Travels</a>
        
        <a href="#" routerLink="yashoda">Yashoda Travels</a>
        <a href="#" routerLink="evacuy">Evacuy Bus</a>
        <a href="#" routerLink="kalida">Kalida Travels</a>
        <a href="#" routerLink="kpn">Kpn Travels</a>
        <a href="#" routerLink="orange">Orange Travels</a>
        <a href="#" routerLink="parveen">Parveen Travels</a>
        <a href="#" routerLink="rajdhani">Rajdhani Travels</a>
        <a href="#" routerLink="vrl">VRL Travels</a>
        <a href="#" routerLink="pradhan">Pradhan Travels</a>
        <a href="#" routerLink="svkdt">Svkdt Travels</a><br>
        </p>
        
    </div>
  </div>
  <!--footer01 end-->
  
  <!--footer02 start-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <div class="container2">
  
    <footer class="footer">
  
      <div class="row">
        <div class="footer-col">
          <h4>Book</h4>
          <ul>
            <li><a href="#">Bus Tickets</a></li>
            <li><a href="#">Bus Hire</a></li>
            <li><a href="#">Tempo Traveller</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>About easybus</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Mobile Version</a></li>
            <li><a href="#">Agent Registration</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Traveller Tools</h4>
          <ul>
            <li><a href="#">Track My Bus</a></li>
            <li><a href="#">Cancellation</a></li>
            <li><a href="#">Print E Ticket</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">SiteMap</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
          </ul><br>
        </div>
      </div>
    </footer>
  </div>
  <!--footer02 ends-->



  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2022. All rights reserved to &nbsp;<a href="#">Basha</a>&nbsp; &nbsp; <a href="#">PriyankaS</a>&nbsp; &nbsp;<a href="#">Vashinavi</a>&nbsp; &nbsp;<a href="#">Pooja</a>
    </div>
    <!-- Copyright -->

    <!-- social Media starts -->
    <div>
      <a href="https://www.abhibus.com/" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/?lang=en-in" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.google.co.in/" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://in.linkedin.com/" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- social media ends -->
  </div>

