<!-- Created By CodingLab - www.codinglabweb.com -->

<body>
    <div class="container">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">
        <div class="main-card">
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="assets/pic1.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">SANTORINI</div>
                            <div class="job">Island Area</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="assets/pic2.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">GOA</div>
                            <div class="job">Beach Area</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="assets/pic3.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Netherlands</div>
                            <div class="job">Beach Area</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="assets/pic4.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">MYSORE</div>
                            <div class="job">Palace</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="assets/pic5.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Adrina Calvo</div>
                            <div class="job">Resorts</div>
                        </div>
                    </div>
                </div>
           
            <div class="card">
                <div class="content">
                    <div class="img">
                        <img src="assets/pic6.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="name">Nicole Lewis</div>
                        <div class="job">Street</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

        <div class="button">
            <label for="one" class=" active one"></label>
            <label for="two" class="two"></label>
        </div>
   </div>
</body>