

<!-- Cards with media area starts -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="https://static.abhibus.com/img/abhilogos/bus-seach-bg-new-v3.jpg" class="d-block w-100" height="500px" width="500px" >
    </div>
    <div class="carousel-item">
    <img src="assets/pic07.webp" class="d-block w-100" height="500px">
    </div>
    <div class="carousel-item">
    <img src="assets/pickup.webp" class="d-block w-100" height="500px">
    </div>
    <div class="carousel-item">
    <img src="assets/map02.webp" class="d-block w-100" height="500px">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
    </div>
  <h1 style="padding:30px 0px 10px 30px; font-weight:bolder;">Bus Ticket Booking Offers Online at EasyBus</h1>


<div fxLayout="row wrap"  class="crds">
    
    <mat-card class="example-card1">
        <mat-card-title-group>
            <mat-card-subtitle><strong>Save up to Rs.250 on bus Tickets</strong></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <img src="https://st.redbus.in/Images/INDOFFER/Nonatak/new/80x80.png">
        </mat-card-content>
        <span class="card1" style="padding: 70px"><strong>Limited Period Offer</strong></span>
        <br>
        <br>

        <!--popup starts-->
        <a onclick="document.getElementById('id01').style.display='block'"
            style="width:auto; padding-left: 80px; color:rgb(56, 56, 143)"><b>More Details...</b></a>
        <div id="id01" class="modal">
            <form class="modal-content animate"  >
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                </div>
                <h3 style="padding-left: 25px; font-size:x-large;"><b>Save up to Rs.250 on bus Tickets</b></h3><hr>
                <ul>
                    <li>Use coupon code PWR250 & Get Minimum Rs.250 Cashback and more using your Reward Points/Vouchers from Pay with Rewards. No minimum transaction value.</li>
                    <li>Offer is valid till 31st March 2022.</li>
                    <li>Rs.250 AbhiBus Cashback will be credited to the user's AbhiCash wallet post completion of journey.</li>
                    <li>Twid and AbhiBus reserve the right to withdraw, modify or replace this offer with another offer at any time without prior notice and the same is at the sole discretion of the company.</li>
                    <li>This offer cannot be combined with any other offer.</li>
                    <li>Offer valid for all users once per user during the offer period. Customers who are not enrolled on any of the associated loyalty programs on Pay with Rewards will not be eligible for the offer.</li>
                    <li>By availing this offer, it is deemed that the customer has agreed to all the terms & conditions mentioned herein.</li>
                </ul>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn" style="float:right">OK</button>
                   
                </div>
            </form>
        </div>
        <script>
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
        <!--popup ends-->

    </mat-card>
    <br><br>
    <mat-card class="example-card2">

        <mat-card-title-group>
            <mat-card-subtitle><strong>Get upto Rs. 500 on minimum purchase of Rs 300.</strong></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <img src="https://static.abhibus.com/busgallery/offerbanners/Sep2021/24/1632471480/twid-476X220.png"
                height="120" width="225">
            
        </mat-card-content>
        <br>
        <!--popup starts-->
        <span class="card2" style=" padding-left:45px; margin-top: 90px;" ><strong>Assured 250 Cashback</strong></span><br><br>
        <a onclick="document.getElementById('id02').style.display='block'"
            style="width:auto; padding-left: 80px; color:rgb(56, 56, 143)"><b>More Details...</b></a>
        <div id="id02" class="modal02">
            <form class="modal-content animate"  >
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                </div>
                <h3 style="padding-left: 25px; font-size:x-large;"><b>Get upto Rs. 500 on minimum purchase of Rs 300</b></h3><hr>
                <ul>
                    <li>Use coupon code SIMPLMAR & Get 15% upto Rs.150 Instant Discount from Simpl + 100% upto Rs.150 AbhiBus Cashback. No minimum transaction value.</li>
                    <li>Offer valid for all eligible users, as per Simpl eligibility rules, once per user during the offer period.</li>
                    <li>Offer is valid till 31st March 2022.</li>
                    <li>15% upto Rs.150 Instant Discount is sponsored by Simpl.</li>
                    <li>100% upto Rs.150 AbhiBus Cashback will be credited to the user's AbhiCash wallet post completion of journey.</li>
                    <li>AbhiBus reserves the right to withdraw, modify or replace this offer with another offer at any time without prior notice and the same is at the sole discretion of the company.</li>
                    <li>By availing this offer, it is deemed that the customer has agreed to all the terms & conditions mentioned herein.</li>
                </ul>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id02').style.display='none'"
                        class="cancelbtn" style="float:right">OK</button>
                   
                </div>
            </form>
        </div>
        <script>
            var modal = document.getElementById('id02');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
        <!--popup ends-->
    </mat-card>
    <mat-card class="example-card3">

        <mat-card-title-group>
            <mat-card-subtitle><strong>Use code SLICEIT and get 15% off upto Rs 150</strong></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <img src="https://st.redbus.in/Images/slice/247x147.png">
        </mat-card-content>
        <!--popup starts-->
        <span class="card2" style="padding-left: 50px;"><strong>Cashback upto 500</strong></span><br><br>
        <a onclick="document.getElementById('id03').style.display='block'"
            style="width:auto; padding-left: 80px; color:rgb(56, 56, 143)"><b>More Details...</b></a>

        <div id="id03" class="modal03">

            <form class="modal-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id03').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                </div>

                <h3 style="padding-left: 25px; font-size:x-large;"><b>Use code SLICEIT and get 15% off upto Rs 150</b></h3><hr>
                <ul>
                    <li>Use code SLIRED for flat Rs.300 cashback for first time slice Visa card users on redBus.</li>
                    <li>Offer code is applicable for a minimum ticket value of Rs 800. Cashback will be processed within 10 days in slice passbook.</li>
                    <li>Offer is valid till 31st March 2022.redBus offer is valid only for logged-in users who verify their mobile number with OTP (one time password)</li>
                    <li>RedBus offer is applicable once per customer email or mobile number during the offer period.</li>
                    <li>Ibibo Group Pvt. Ltd. reserves the right to end any or all offers at its discretion without any prior notice.</li>
                    <li>All disputes are subject to New Delhi jurisdiction.</li>
                    <li>Offer valid from 1st Oct to 31st March (both days inclusive).</li>
                </ul>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id03').style.display='none'"
                        class="cancelbtn"  style="float:right">OK</button>
                    
                </div>
            </form>
        </div>
        <script>
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
        <!--popup ends-->
        
    </mat-card>
    <mat-card class="example-card1">
        <mat-card-title-group>
            <mat-card-subtitle><strong>Buy ONE Get ONE - For Tamil Nadu & Karnataka Routes</strong></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <img src="https://static.abhibus.com/busgallery/offerbanners/Dec2021/26/1640460615/476x220.png" width="225" height="120">
        </mat-card-content>
        <br>
        <span class="card1" style="padding: 90px"><strong>Hurry Up!</strong></span>
        <br>
        <br>

        <!--popup starts-->
        <a onclick="document.getElementById('id04').style.display='block'"
            style="width:auto; padding-left: 80px; color:rgb(56, 56, 143)"><b>More Details...</b></a>
        <div id="id04" class="modal04">
            <form class="modal-content animate" action="/action_page.php" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id04').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                </div>

                <h3 style="padding-left: 25px; font-size:x-large;"><b>Buy ONE Get ONE - For Tamil Nadu & Karnataka Routes</b></h3><hr>
                <ul>
                    <li>Apply Coupon code 1PLUS1 at bus booking checkout and get a FREE bus voucher worth up to 100% off for your next booking.</li>
                    <li>This is a special offer valid for bus bookings made on AbhiBus for Tamil Nadu & Karnataka routes only.</li>
                    <li>No minimum transaction value.</li>
                    <li>All customers who have applied the coupon and successfully completed the bus booking on the valid routes will receive a bus voucher of worth up to 100% off after completion of journey.</li>
                    <li>The discount voucher will be emailed within 72 hours of successful booking.</li>
                    <li>Users should be logged in to AbhiBus to avail the offer.</li>
                    <li>This offer is valid for all AbhiBus users, once per user, on Tamil Nadu & Karnataka routes during the offer period.</li>
                </ul>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id04').style.display='none'"
                        class="cancelbtn" style="float:right">OK</button>
                   
                </div>
            </form>
        </div>
        <script>
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
        <!--popup ends-->

    </mat-card>
</div>

<!-- Cards with media area ends -->





    <h1 style="padding:30px 0px 10px 30px; font-weight:bolder;">Book SRTC (State Road Transport Corporation) bus tickets at EasyBus</h1>
    <img src="https://static.abhibus.com/assets/img/all-rtc-banner-others.png">

<div class="mx-auto" style="width: 100%;">

    <mat-card class="covid-precausion ">
        <mat-card-title><strong>COVID-19 Related Travel Advisory</strong></mat-card-title>
        <mat-card-content>

            EasyBus recommends that all passengers follow Covid Safety Guidelines. Maintaining strict safety
            protocols can ensure that the virus spread is in control.Travellers must make sure to wear double masks,
            use hand sanitisers and keep their distance from others.Look out for our bus services while booking your
            tickets. These bus services are handpicked and they follow all the safety protocols - regular bus
            fumigation, availability of hand sanitisers, passenger temperature screening before onboarding, staff
            that is well educated about the safety protocols.Follow our travel updates to know the up to date travel
            guidelines in the country. Refer to State-wise COVID-19 Travel Guidelines in India for detailed
            information.
            
                <img class="image1" src="https://static.abhibus.com/img/homepage/home-2.png">
            
                <img class="image2" src="https://static.abhibus.com/img/homepage/covid-precausion.png">
            
        </mat-card-content>

    </mat-card>


    <mat-card class="booking">

   
            <mat-card-title><strong>The Best Way to Book Bus Ticket</strong></mat-card-title>
       
        <mat-card-content>

            Do you want to know the best way to book tickets online securely and how to book tickets in advance?
            AbhiBus.com is the best online platform for bus booking, train tickets booking and hotels booking. You can
            check the amenities provided, compare booking fares, check bus timings in the searched route, other
            facilities and more with us. You can find an affordable and cost-effective online travel bookings facility
            at AbhiBus.

            With AbhiBus, online bus ticket booking is now very easy. You simply need to fill in the details of your
            journey in our search bar (departure city, destination city and the date of journey) click on the search
            button to get all the bus operators available for booking tickets online. Then, select the bus that best
            suits your travel needs and securely complete your booking online on AbhiBus.com.

            We would recommend that you book your tickets at least 2 - 3 days in advance so that you can reserve bus or
            train seats as per your preference. 
        </mat-card-content>
        <mat-card-title><strong>Online Bus Booking Services</strong></mat-card-title>
        <mat-card-content>AbhiBus is India’s leading online bus ticket booking service provider. Check out our great
            offers and amazing discount coupons to book bus tickets at the lowest price with us. You can check the bus
            schedules, compare prices, and find all the information you need to plan an ideal and comfortable bus or
            train journey.

            AbhiBus has simplified the online bus booking process for your travel planning. You can save time and money
            by using AbhiCash. Book now!!!

            Check all your bus or train route options and use the advanced smart filters to accommodate a reliable and
            comfortable journey as per your scheduled travel plan needs.</mat-card-content>
    </mat-card>
</div>
<!-- Cards with media area ends -->